
@media screen and (min-width: 600px) {

    i#burguer{
        display: none;
    }

    div.imagem-capa{
        display: block;
        width: 80vw;
        background-image: url(../imagens/capa.png);
        background-size: cover;
        background-position: center center;
        border-radius: 0;
        transition: width .3s, heigth .3s;

    }

    section.corpo{
        min-width: 80vw;
    }

    nav#menu{
        display: block;
        
    }

    nav ul{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        gap: 5px;
        
    }

    nav > ul > li > a {
        width: 200px;
        max-width: 90%;
        border-radius: 10px;
    }


    
}